:root {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #6b6060;
}

body {
	background-color: #fff;
	display: grid;
	place-items: center;
}

.intro {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, minmax(70px, 1fr));
	position: relative;
}

.intro__rect__container {
	grid-column: 1/6;
	grid-row: 1/4;
	/* border: 2px solid red; */
	height: 250px;
}

.intro__rect__container img {
	max-width: 100%;
	max-height: 100%;
}

.intro__bg__container {
	grid-column: 3/11;
	grid-row: 2/-1;

	z-index: 2;
}
.intro__bg__container img {
	max-width: 100%;
	min-height: 100%;
	/* border: 2px solid red; */
}

.intro__statement__container {
	grid-column: 3/13;
	grid-row: 3/10;
	padding: 1rem;
	z-index: 3;
}
.intro__nav {
	display: none;
	/* grid-column: 2/13;
    grid-row: 1/4; */
	width: 90%;
	opacity: 0.97;
	z-index: 4;
	background: #fff;
	margin-top: 1.3rem;
	margin-right: 1rem;
	transform: translate(5%, 0%);
	position: absolute;
	/* border: 0.1px solid #2d7fc0; */

	animation: animateLeft 0.6s linear;
}

@keyframes animateLeft {
	from {
		top: -300px;
	}
	to {
		top: 0px;
	}
}

/* .menuOverlay {
	animation: modalOut 0.8s ease-in-out;
	
}
@keyframes modalOut {
	from {
		top: 0px;
		opacity: 1;
	}
	to {
		top: -300px;
		opacity: 0;
	}
} */

.intro__close {
	position: absolute;
	right: 15px;
	top: 10px;
}

.intro__close img {
	width: 40px;
}
.intro__nav {
	list-style: none;
	text-align: center;
}
.intro__nav li {
	padding: 1rem 0;
}
.intro__nav li a {
	text-decoration: none;
	display: inline-block;
	color: #000;
	font-size: 1.2rem;
}
.intro__nav li a:hover,
.intro__nav li a:focus {
	color: #2d7fc0;
}

.intro__logo__container {
	z-index: 2;
	grid-column: 3/4;
	grid-row: 1;
	margin-top: 2rem;
	/* border: 2px solid red; */
}
.intro__menubtn__container {
	grid-column: 11/13;
	grid-row: 1;
	margin-top: 2rem;
	height: 37px;
	width: 45px;
	border: 2px solid red;
}

.intro__menubtn__container img {
	/* border: 2px solid blue; */
	display: block;
}

.intro__statement__container .statement {
	padding-top: 1rem;
	padding-bottom: 1.5rem;
}
.intro__statement__container .statement p,
.intro__statement__container .statement p span {
	font-size: 1.8rem;
	line-height: 2.5rem;
	letter-spacing: 0.3rem;
	font-weight: 500;
	color: #fff;
}
.intro__statement__container .statement p span {
	color: #2d7fc0;
}
.intro__learnmore__container {
	display: flex;
	flex-direction: column;
}
.intro__learnmore__description {
	order: -1;
	margin-bottom: 1.5rem;
	line-height: 1.5rem;
	width: 75%;
	/* border: 2px solid red; */
}
.intro__learnmore__description p {
	color: #fff;
}
.intro__learnmore__container button {
	background-color: #2d7fc0;
	color: #fff;
	padding: 1rem 1.5rem;
	font-size: 1rem;
	font-weight: normal;
	border: none;
	outline-color: #2d7fc0;
	cursor: pointer;
}

.intro__dotted__rect {
	display: none;
}

/* partners */

.partners {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding: 1rem 0;
	background-color: #fafafa;
	width: 100%;
	/* border: 2px solid red; */
}
.partners__header p {
	color: #2d7fc0;
	font-size: 1.5rem;
	padding-top: 1rem;
}
.partners__img__container {
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 2px solid red; */
}
.partners__img__container div:nth-of-type(2) {
	padding-top: 0.3rem;
}

/* who are we? / mission */

.mission {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.mission__img__container {
	width: 100%;
	grid-column: 1/-1;
	grid-row: 2/-1;
	/* border: 2px solid red; */
}
.mission__img__container img {
	max-width: 100%;
	min-height: 100%;
	/* width: 100vw; */
}
.mission__statement__container {
	grid-column: 3/13;
	grid-row: 1/3;
	background-color: #fff;
	margin-top: 1rem;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	line-height: 1.1rem;
	padding: 1.5rem 2rem;
}

.mission__statement__header h2 {
	font-weight: normal;
	font-size: 1.5rem;
	padding: 1.5rem 1rem;
	color: #2d7fc0;
}
.mission__statement {
	padding: 0 1rem;
	text-align: justify;
}

.mission__statement p:nth-of-type(1) {
	font-size: 1.2rem;
	line-height: 1.7rem;
	margin-bottom: 2rem;
}

.mission__statement p:nth-of-type(1) span {
	color: #2d7fc0;
	font-size: 1.2rem;
}
.mission__statement p:nth-of-type(2) {
	font-size: 0.8rem;
}

.mission__statement__readmore {
	padding: 1rem;
	width: 70%;
}
.mission__statement__readmore p,
.mission__statement__readmore p span {
	color: #2d7fc0;
	cursor: pointer;
}

/* services */
.services {
	width: 90%;
	margin: 0 auto;
	padding: 1rem 0;
	display: flex;
	flex-flow: column wrap;
}
.services__header {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding: 1rem 0;
}

.services__header h2 {
	color: #2d7fc0;
	font-size: 1.5rem;
	font-weight: normal;
	padding: 1rem 0;
}

.services__header p {
	text-align: center;
	line-height: 1.4rem;
	width: 75%;
}

.services__outlay {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
.services__outlay__service-1,
.services__outlay__service-2 {
	width: 80%;
	display: flex;
	flex-flow: column wrap;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 2rem;
	/* border: 2px solid red; */
	padding: 1rem;
}

.services__outlay__image,
.services__outlay__description {
	flex-basis: 100%;
	/* border: 2px solid red; */
}

.services__outlay__image img {
	max-width: 100%;
}

.services__outlay__description h3 {
	padding: 1rem 0;
	color: #2d7fc0;
	font-weight: normal;
	font-size: 1.2rem;
}

.services__outlay__description p {
	padding-bottom: 1rem;
	line-height: 1.2rem;
}

/* our clients */
.clients {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 1rem 0;
	background-color: #fafafa;
	width: 100%;
}

.clients__header h3 {
	color: #2d7fc0;
	font-weight: normal;
	font-size: 1.5rem;
	padding: 1rem;
}
.clients__img__container {
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 2px solid red; */
}
/* .radisson,
.skyjet,
.itoro {
	
} */

.clients__img__container {
	max-width: 100%;
	/* border: 2px solid blue; */
}

.clients__img__container > div > img {
	width: 150px;
	max-width: 100%;
}

/* shop */
.shop {
	display: flex;
	flex-flow: column wrap;
	margin: 0 auto;
	width: 90%;
	/* border: 2px solid red; */
}
.shop__description {
	text-align: center;
	padding: 1rem 0;
}

.shop__header h2 {
	padding: 1rem;
	color: #2d7fc0;
	font-weight: normal;
	font-size: 1.5rem;
}
.shop__statement {
	width: 80%;
	margin: 0 auto;
	/* border: 2px solid red; */
}
.shop__statement p {
	width: 90%;
	padding: 1rem 0;
}

.shop__orders {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
.shop__order {
	width: 80%;
	margin-bottom: 1.5rem;
	flex-basis: 100%;
	display: flex;
	flex-flow: column wrap;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.shop__order__image {
	padding: 1rem 0;
	margin-bottom: 0.5rem;
	width: 100%;
	/* border: 2px solid red; */
}
.shop__order__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.shop__order__description h3,
.shop__order__description p {
	padding: 0.5rem;
}
.shop__order__description h3 {
	color: #2d7fc0;
	font-weight: normal;
}

.shop__order__buttons {
	padding: 0.5rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-between;
}
.shop__order__buttons button {
	border: 1px solid #2d7fc0;
	cursor: pointer;
}
.shop__order__buttons button:first-child {
	flex-basis: 59%;
	background-color: #2d7fc0;
	color: #fff;
}
.shop__order__buttons button:last-child {
	flex-basis: 39%;
	background-color: #fff;
	color: #2d7fc0;
}

.contact__image__container {
	display: none;
}

/* TODO:  */
.contact {
	width: 80%;
	margin: 1rem 0;
	display: grid;
	place-items: center;
}

.contact__form__container {
	/* border: 2px solid red; */
	width: 90%;
	display: flex;
	flex-flow: column wrap;
}
.contact__form__container h2 {
	font-weight: normal;
	font-size: 1.5rem;
	color: #2d7fc0;
	padding: 0.5rem 0;
	/* border: 2px solid red; */
	margin: 0.5rem 0;
}

.contact__form__container form {
	display: flex;
	flex-flow: column wrap;
	margin: 1rem 0;
}

.contact__form__container form label {
	display: none;
}
.contact__form__container form input {
	/* border: 2px solid red; */
	padding: 1rem 2rem;
	border: transparent;
	border-bottom: 2px solid;
	outline: none;
}
.contact__form__container form input:focus,
.contact__form__container form input:hover {
	border-bottom-color: #2d7fc0;
}

.contact__form__container button {
	width: 40%;
	padding: 1rem 1.5rem;
	color: #fff;
	background-color: #2d7fc0;
	border: 1px solid #2d7fc0;
	/* outline: #fff; */
	cursor: pointer;
}

/*generated content for "get in touch" CONTACT */
.fullName,
.emailAddress,
.phoneNumber,
.message {
	position: relative;
}
.fullName::before,
.emailAddress::before,
.phoneNumber::before,
.message::before {
	content: "";
	position: absolute;
	background-image: url(./images/name.svg);
	background-size: contain;
	height: 20px;
	width: 20px;
	top: 15px;
	left: 2px;
}
.emailAddress::before {
	background-image: url(./images/email.svg);
	height: 14px;
	top: 19px;
}
.phoneNumber::before {
	background-image: url(./images/phone.svg);
}
.message::before {
	background-image: url(./images/message.svg);
	top: 19px;
}
/* footer */
footer {
	background-image: url(./images/footer.png);
	width: 100%;
}
.footer__container {
	display: grid;
	padding: 1rem;
	margin: 1rem;
}

.footer__social {
	display: flex;
	flex-flow: column wrap;
}

.footer__image__container {
	padding: 0.25rem 0;
	margin: 0.25rem;
}
.footer__statement {
	margin-bottom: 1rem;
}
.footer__statement p,
.footer__attributes p a,
.footer__address,
.footer__address p,
.footer__address p a {
	color: #fff;
	font-size: 0.7rem;
}

.footer__statement p {
	/* border: 2px solid red; */
	width: 70%;
	line-height: 1rem;
}

.footer__icons {
	width: 20%;
	display: flex;
	justify-content: space-between;
}

.footer__attributes {
	/* border: 2px solid red; */
	width: 50%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 1rem 0;
}

.footer__attributes p a {
	text-decoration: none;
	opacity: 0.5;
	text-transform: capitalize;
}

.footer__contact form input {
	background: transparent;
	padding: 0.5rem 0.3rem;
	width: 70%;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.footer__contact form input::placeholder {
	color: #fff;
	opacity: 0.7;
	letter-spacing: 0.7rem;
}

.footer__address p {
	padding-bottom: 1rem;
	/* padding-left: 2rem; */
}
.footer__address p a {
	text-decoration: none;
	opacity: 0.7;
}

.footer__address p:first-child {
	width: 70%;
}

.footer__address div p:nth-of-type(3),
.footer__address div p:nth-of-type(4) {
	letter-spacing: 0.3rem;
}
/* footer generated content */
/* .nth-type-1,
.nth-type-2,
.nth-type-3,
.nth-type-4 {
	position: relative;
}

.nth-type-1::before {
	content: "";
	position: absolute;
	background-image: url(./images/);
	height: 15px;
	width: 15px;
} */

.contact__form__container form input:focus:invalid {
	border-bottom-color: red;
}
/* input:focus {
	border-bottom-color: rebeccapurple;
/* }  */

/* read more modal */
.modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgb(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 4;
	cursor: pointer;
	/* border: 2px solid red; */
	display: none;
	overflow: auto;
}

.modal__content {
	z-index: 5;
	border: 0.2px solid #2d7fc0;
	padding: 1rem 0.5rem;
	width: 90%;
	position: relative;
	font-size: 1rem;
	color: #000;
	margin: 0 auto;
	background-color: rgb(255, 255, 255, 0.9);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: modal-animate;
	animation-duration: 0.9s;
}

@keyframes modal-animate {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
.modal__content > p {
	padding: 1rem 2rem;
	line-height: 1.3rem;
	text-align: justify;
}
.modal__content > h2 {
	padding: 1rem 2rem;
	color: #2d7fc0;
	font-size: 1.5rem;
	font-weight: normal;
}

.modal__close {
	position: absolute;
	right: 40px;
	width: 40px;
}
.modal__close img {
	max-width: 100%;
}

.out-modal {
	animation: modal-out 0.8s ease-in;
	height: 0%;
	/* animation-fill-mode: forwards; */
}
@keyframes modal-out {
	from {
		top: 0px;
		opacity: 1;
		/* transform: scale(1, 1); */
	}
	to {
		top: -300px;
		opacity: 0;
		/* transform: scale(0, 0); */
	}
}

@media screen and (min-width: 543px) {
	.mission__statement p:nth-of-type(2) {
		line-height: 1.4rem;
		font-size: 0.9rem;
	}

	.footer__details p:nth-of-type(1) {
		width: 65%;
	}
}

@media screen and (min-width: 560px) {
	.statement p {
		width: 95%;
		border: 2px solid red;
	}
	.footer__contact form input {
		width: 65%;
	}
}

@media screen and (min-width: 587px) {
	.statement p {
		width: 90%;
	}
	.mission__statement__container {
		border: 2px solid red;
		padding-bottom: 0;
	}
	.mission__statement {
		border: 2px solid red;
	}

	.mission__statement__readmore {
		border: 2px solid red;
		margin-bottom: 0;
	}
	.shop__statement {
		width: 60%;
		border: 2px solid red;
	}
}

@media screen and (min-width: 649px) {
	.shop__order {
		/* flex-basis: 40%; */
	}
}
